<div class="container-fluid">

    <div class="container " *ngIf="this.hasImportingAuthority">
        <form [formGroup]="inventoryImportForm" class="row">
            <div class="header d-flex flex-column align-items-start fw-bold mb-3">
                <span class="block mb-2"> {{'InventoryScreen.ImportMessage' | translate}}
                    <span class="colored-link" (click)="onExcelLinkClick()">{{'InventoryScreen.ColoredImportMessage' |
                        translate}}</span>
                </span>

            </div>
            <div class="col-md-5 col-lg-5 col-xl-5">
                <label for="department1" class="mb-1 d-flex">{{'InventoryScreen.Department' |
                    translate}} </label>

                <select name="department1" id="department1" formControlName="department" class="form-select">
                    <option *ngFor="let department of departments" [value]="department.id">
                        {{department.name | translate}}
                    </option>
                </select>

                <div *ngIf="inventoryImportForm.controls.department.invalid && (inventoryImportForm.controls.department.dirty || inventoryImportForm.controls.department.touched)"
                    class="alert p-0 m-1 h6">

                    <div class="p-0 m-0" *ngIf="inventoryImportForm.controls.department.errors?.['required']">
                        {{'InventoryScreen.Department' | translate}}
                        {{'GeneralMessages.Required' | translate}}
                    </div>
                </div>

            </div>

            <div class="col-md-5 col-lg-5 col-xl-5">

                <label for="fileName" class="mb-1 d-flex">{{'InventoryScreen.UploadFile' |
                    translate}} </label>


                <div class="form-text">
                    <input type="text" formControlName="file"
                        [ngClass]="isRtl? 'form-control padding-left': 'form-control padding-right'" id="fileName"
                        name="fileName">

                    <label
                        [ngClass]="isRtl ? 'static-value-secondside rounded-start-2' : 'static-value-firstside rounded-end-2'"
                        for="file">

                        <div class="d-flex align-content-center justify-content-center icon-wrapper"> <i
                                class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i></div>
                        <input id="file" class="form-control d-none" type="file" accept=".xlsx, .xls"
                            (change)="onFileChange($event)">
                    </label>
                </div>

                <div *ngIf="inventoryImportForm.controls.file.invalid && (inventoryImportForm.controls.file.dirty || inventoryImportForm.controls.file.touched)"
                    class="alert p-0 m-1 h6">

                    <div class="p-0 m-0" *ngIf="inventoryImportForm.controls.file.errors?.['required']">
                        {{'InventoryScreen.Department' | translate}}
                        {{'GeneralMessages.Required' | translate}}
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">

                <div class="btn" (click)="onImportButtonClick()">
                    <app-loading-button [processing]="isImporting">
                        {{'InventoryScreen.ImportFileButton' | translate}}
                    </app-loading-button>
                </div>


            </div>
        </form>
    </div>

    <div class="container my-4" *ngIf="this.hasExportingAuthority">
        <hr class="container text-secondary">
    </div>

    <div class="container " *ngIf="this.hasExportingAuthority">
        <form [formGroup]="inventoryExportForm" class="row">

            <div class="header d-flex flex-column align-items-start fw-bold mb-3">
                <span class="block mb-2"> {{'InventoryScreen.ExportMessage' | translate}}
                </span>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
                <label for="department2" class="mb-1 d-flex">{{'InventoryScreen.Department' |
                    translate}} </label>

                <select name="department1" id="department2" formControlName="department" class="form-select">
                    <option *ngFor="let department of departments" [value]="department.id">
                        {{department.name | translate}}
                    </option>
                </select>

                
                <div *ngIf="inventoryExportForm.controls.department.invalid && (inventoryExportForm.controls.department.dirty || inventoryExportForm.controls.department.touched)"
                    class="alert p-0 m-1 h6">

                    <div class="p-0 m-0" *ngIf="inventoryExportForm.controls.department.errors?.['required']">
                        {{'InventoryScreen.Department' | translate}}
                        {{'GeneralMessages.Required' | translate}}
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">

                <div class="btn">
                    <app-loading-button [processing]="isExporting" (click)="onExportButtonClick()">
                        {{'InventoryScreen.ExportFileButton' | translate}}
                    </app-loading-button>
                </div>

            </div>
        </form>
    </div>


</div>


<button data-bs-toggle="modal" data-bs-target="#exportModal" class="d-none" #modalShowButtonRef>dummy button for modal
    opening</button>

<!-- export modal -->

<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-end">

                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body mt-1 ">

                <div class="col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center fw-bold h5">
                    {{'InventoryScreen.ExportModalMessage' | translate}}
                </div>


            </div>

            <div class="mt-4 mb-5 d-flex align-items-center justify-content-center">
                <div class="row m-0 d-flex  justify-content-between w-75 align-items-center">
                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-primary modal-btn  py-2" data-bs-dismiss="modal"
                            (click)="onExportButtonConfirmationClick('exel')">Excel</button>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-secondary modal-btn format-btn py-2 " data-bs-dismiss="modal"
                            (click)="onExportButtonConfirmationClick('pdf')">PDF</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>