.btn {
    color: #ffffff;
    background-color: #F15A60;
    border-radius: 12px;
    width: 100%;
    margin-top: 1.65rem;
}

.btn:active {
    background-color: #F15A60;
    color: white;
}

.packages {
    height: 150px;
}

.form-check-input {
    box-shadow: none;
}


.title {
    background-color: #F6F6FB;
    color: #100F37;
    font-weight: 700;
    cursor: pointer;
}

.small-item-card {
    box-shadow: 0px 4px 4px 0px #F6F6FB;
}

.item-card {
    height: 70px;
}

.stat {
    font-size: 0.9rem;
}

i {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.45px 0px;
}

.property-deletion {
    font-size: 0.7rem;
}

.static-value-secondside {
    font-size: 1rem;
    top: 6px;
}

.static-value-firstside {
    font-size: 1rem;
    top: 6px;
}

img {
    width: 1.2rem;
}

.view {
    background-color: #0D99FF30;
}

.view img {
    padding: 3.46px 0px;
}

.custom-padding {
    padding: 0.4rem 1rem;
}

.action {
    position: relative;
}

/* tooltip styling */
.action .tooltip {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    /* color: #fff; */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1;
    width: 5rem;
}

.action:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip-edit {
    color: #FFCD29;
    background-color: #FFCD2930;
}

.tooltip-delete {
    color: #F15A60;
    background-color: #F15A6021;
}

.tooltip-view {
    background-color: #0D99FF30;
    color: #0D99FF;
}

.tooltip-supply {
    color: #14AE5C;
    background-color: #4ECB7130;
}

.tooltip-qrcode {
    color: #757575;
    background-color: #75757530;
}


@media only screen and (max-width: 767px) {

    /* Styles for screens less than 820 pixels wide */
    /* Add your CSS rules here */
    .item-card {
        height: 280px;
    }

    .title {
        margin-bottom: 10px !important;
    }

    .stat {
        margin-bottom: 10px;
    }

    .stat:last-child {
        margin-bottom: 15px !important;
    }

    .small-item-card:first-child {
        margin-top: 10px;
    }

    .small-item-card {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .actions {
        justify-content: end !important;

    }
}

@media (max-width: 990px) and (min-width: 767px) {

    /* Styles for screens less than 820 pixels wide */
    /* Add your CSS rules here */
    .item-card {
        height: 120px;
    }


    .actions {
        justify-content: end !important;
        padding: 0 130px;
        margin-top: 10px;

    }
}