<div class="container-fluid d-flex flex-column justify-content-start align-items-end mt-2">
    <div fxLayout="column">
        <div class="fw-bold h5 text-center">
            <div>TBSM - {{productInfo?.warehouse!}}</div>
        </div>

        <ngx-barcode bc-element-type="svg" [bc-value]="productInfo?.number!" bc-format="MSI" [bc-line-color]="lineColor"
            [bc-width]="width" [bc-height]="height" [bc-display-value]="false" [bc-font-options]="fontOptions"
            [bc-font]="font" [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin"
            [bc-font-size]="fontSize" [bc-background]="background" [bc-margin]="margin" [bc-margin-top]="marginTop"
            [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft"
            [bc-margin-right]="marginRight"></ngx-barcode>
    </div>

    <div class="h5">ID: {{productInfo?.number!}} / Receive: {{productInfo?.print_date!}} ({{productInfo?.print_time!}})
    </div>
    <div class="fw-bold h5">{{productInfo?.productNameDepartment}}</div>
    <div class="fw-bold h5"> Expiry Date: {{productInfo?.expiration_date!}}</div>
</div>
