<div class="container-fluid">

    <div class="container " *ngIf="hasCreatingAuthority">
        <form action="" [formGroup]="createUserForm">

            <div class=" row mb-2 ">
                <div class="col-md-12 col-lg-12 col-xl-12">

                    <label for="username" class="mb-1 d-flex">{{'UsersManagementScreen.Username' |
                        translate}} </label>
                    <input id="username" class="form-control" type="text" formControlName="username">

                    <div *ngIf="createUserForm.controls.username.invalid && (createUserForm.controls.username.dirty || createUserForm.controls.username.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0" *ngIf="createUserForm.controls.username.errors?.['required']">
                            {{'UsersManagementScreen.Username' | translate}}
                            {{'GeneralMessages.Required' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div class=" row mb-2 d-flex ">
                <div class="col-md-6 col-lg-6 col-xl-6">

                    <label for="fullname" class="mb-1 d-flex">{{'UsersManagementScreen.EnglishFullName' | translate}}
                    </label>
                    <input id="fullname" class="form-control" type="text" formControlName="fullname">

                    <div *ngIf="createUserForm.controls.fullname.invalid && (createUserForm.controls.fullname.dirty || createUserForm.controls.fullname.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0" *ngIf="createUserForm.controls.fullname.errors?.['required']">
                            {{'UsersManagementScreen.EnglishFullName' | translate}}
                            {{'GeneralMessages.Required' | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6">

                    <label for="password" class="mb-1 d-flex"> {{'UsersManagementScreen.Password' | translate}}
                    </label>
                    <input id="password" class="form-control" type="password" formControlName="password" autocomplete="new-password">

                    <div *ngIf="createUserForm.controls.password.invalid && (createUserForm.controls.password.dirty || createUserForm.controls.password.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0" *ngIf="createUserForm.controls.password.errors?.['required']">
                            {{'UsersManagementScreen.Password' | translate}}
                            {{'GeneralMessages.FeminineRequired' | translate}}
                        </div>

                        <div *ngIf="createUserForm.controls.password.errors?.['minlength']">
                            {{'UsersManagementScreen.Password' | translate}}
                            {{'GeneralMessages.PasswordLengthError' | translate}}
                        </div>
                    </div>
                </div>

            </div>


            <div class=" row mb-2 d-flex ">

                <div class="col-md-6 col-lg-6 col-xl-6">

                    <label for="role" class="mb-1 d-flex">{{'UsersManagementScreen.Roles' | translate}}
                    </label>

                    <select id="role" class="form-select" name="" formControlName="role">
                        <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                    </select>

                    <div *ngIf="createUserForm.controls.role.invalid && (createUserForm.controls.role.dirty || createUserForm.controls.role.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0" *ngIf="createUserForm.controls.role.errors?.['required']">
                            {{'UsersManagementScreen.Roles' | translate}}
                            {{'GeneralMessages.Required' | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6">

                    <div class="btn" (click)="onCreateButtonClick()">
                        <app-loading-button [processing]="isProcessing">
                            {{'UsersManagementScreen.CreateAccount' | translate}}
                        </app-loading-button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <app-page-header [pageTitle]="secondPageTitle" ></app-page-header>

    <app-loading *ngIf="isLoading"></app-loading>

    <div class="container" *ngIf="!isLoading && users && users.length > 0">

        <table class=" table table-bordered rounded-table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">{{'UsersManagementScreen.Username' | translate}}</th>
                    <th scope="col" class="text-center">{{'UsersManagementScreen.FullName' | translate}}</th>
                    <th scope="col" class="text-center">{{'UsersManagementScreen.Roles' | translate}}</th>
                    <th scope="col" class="text-center">{{'UsersManagementScreen.Status' | translate}}</th>
                    <th scope="col" class="text-center" *ngIf="hasDeletingAuthority || hasUpdatingAuthority">
                        {{'UsersManagementScreen.Properties' | translate}}</th>
                </tr>
            </thead>
            <tbody>

                <tr class="text-center" *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.role.role}}</td>
                    <td>
                        <div (click)="onUpdateUserStatusClick(user.id)">
                            <i class="fa-solid fa-circle-check" style="color: #198526;"
                                *ngIf="user.status; else xmark"></i>
                            <ng-template #xmark>
                                <i class="fa-solid fa-circle-xmark" style="color: #f50505;"></i>
                            </ng-template>
                        </div>
                    </td>
                    <td *ngIf="hasDeletingAuthority || hasUpdatingAuthority">
                        <div class="d-flex justify-content-center">

                            <div class="mx-2 edit d-flex justify-content-center align-items-center rounded-2"
                                data-bs-toggle="modal" data-bs-target="#editModal"
                                (click)="onUpdateButtonClick(user.id)" *ngIf="hasUpdatingAuthority"><i
                                    class="fa-solid fa-pen-to-square"></i>
                            </div>
                            <div class="mx-2 delete d-flex justify-content-center align-items-center rounded-2"
                                data-bs-toggle="modal" data-bs-target="#deleteModal"
                                (click)="onDeleteButtonClick(user.id)" *ngIf="hasDeletingAuthority"><i
                                    class="fa-solid fa-trash-can"></i>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-no-data *ngIf="users.length == 0 && !isLoading"></app-no-data>

</div>


<!-- modals -->

<!-- edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex  justify-content-between">
                <div>
                    <h5 class="modal-title" id="editModalLabel">{{'Modal.EditModalHeader' | translate}} </h5>
                </div>

                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body mt-2">
                <form action="" [formGroup]="updateUserForm">

                    <div class=" row mb-2 d-flex ">
                        <div class="col-md-12 col-lg-12 col-xl-12 mb-2">

                            <label for="username01" class="mb-1 d-flex">{{'UsersManagementScreen.Username' |
                                translate}} </label>
                            <input id="username01" class="form-control" type="text" formControlName="username">

                            <div *ngIf="updateUserForm.controls.username.invalid && (updateUserForm.controls.username.dirty || updateUserForm.controls.username.touched)"
                                class="alert p-0 m-1 h6">

                                <div class="p-0 m-0" *ngIf="updateUserForm.controls.username.errors?.['required']">
                                    {{'UsersManagementScreen.Username' | translate}}
                                    {{'GeneralMessages.Required' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12 mb-2">

                            <label for="fullname01" class="mb-1 d-flex">{{'UsersManagementScreen.EnglishFullName' |
                                translate}}
                            </label>
                            <input id="fullname01" class="form-control" type="text" formControlName="fullname">

                            <div *ngIf="updateUserForm.controls.fullname.invalid && (updateUserForm.controls.fullname.dirty || updateUserForm.controls.fullname.touched)"
                                class="alert p-0 m-1 h6">

                                <div class="p-0 m-0" *ngIf="updateUserForm.controls.fullname.errors?.['required']">
                                    {{'UsersManagementScreen.EnglishFullName' | translate}}
                                    {{'GeneralMessages.Required' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12 mb-2">

                            <label for="password01" class="mb-1 d-flex"> {{'UsersManagementScreen.Password' |
                                translate}}
                            </label>
                            <input id="password01" class="form-control" type="password" formControlName="password" autocomplete="new-password"
                                (input)="onPasswordInput()">

                            <div *ngIf="updateUserForm.controls.password.invalid && (updateUserForm.controls.password.dirty || updateUserForm.controls.password.touched)"
                                class="alert p-0 m-1 h6">

                                <div *ngIf="updateUserForm.controls.password.errors?.['minlength']">
                                    {{'UsersManagementScreen.Password' | translate}}
                                    {{'GeneralMessages.PasswordLengthError' | translate}}
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 col-lg-12 col-xl-12 mb-2">

                            <label for="role01" class="mb-1 d-flex">{{'UsersManagementScreen.Roles' | translate}}
                            </label>

                            <select id="role01" class="form-select" name="" id="" formControlName="role">
                                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                            </select>

                            <div *ngIf="updateUserForm.controls.role.invalid && (updateUserForm.controls.role.dirty || updateUserForm.controls.role.touched)"
                                class="alert p-0 m-1 h6">

                                <div class="p-0 m-0" *ngIf="updateUserForm.controls.role.errors?.['required']">
                                    {{'UsersManagementScreen.Roles' | translate}}
                                    {{'GeneralMessages.Required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer mb-4 border-0">
                <button class="d-none" #updateModalCloseButtonRef data-bs-dismiss="modal"></button>
                <button type="button" class="btn  modal-btn m-0 py-2" (click)="onUpdateConfirmationClick()">
                    {{'Modal.SaveChangesButton' | translate}}</button>
            </div>
        </div>
    </div>
</div>



<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-2 deletion-label d-flex justify-content-center">
                        <i class="fa-solid fa-trash-can px-2 py-3"></i>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <p class="h5 fw-bold">{{'Modal.DeletionConsentMessage' | translate}}
                        {{'UsersManagementScreen.EntityName' |
                        translate}} {{selectedUser.username}}</p>
                </div>

            </div>

            <div class="mt-4 mb-5 d-flex align-items-center justify-content-center">
                <div class="row m-0 d-flex  justify-content-between w-75 align-items-center">
                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-primary modal-btn py-2" data-bs-dismiss="modal"
                            (click)="onDeleteConfirmationButtonClick()">{{'Modal.DeleteButton' | translate}}</button>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-secondary modal-cancel-btn py-2"
                            data-bs-dismiss="modal">{{'Modal.CancelButton' | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>