<div class="container-fluid">

    <div class="container" *ngIf="hasCreatingAuthority">
        <form class="row mb-2" [formGroup]="createPropertyForm">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <label for="propertyType" class="mb-1 d-flex">{{'PropertiesManagementScreen.PropertyType' | translate}}
                </label>
                <select name="propertyType" id="propertyType" class="form-select " formControlName="type">
                    <option *ngFor="let property of propetyTypes" [value]="property.value"> {{property.name |
                        translate}}</option>
                </select>

                <div *ngIf="createPropertyForm.controls.type.invalid && (createPropertyForm.controls.type.dirty || createPropertyForm.controls.type.touched)"
                    class="alert p-0 m-1 h6">

                    <div class="p-0 m-0" *ngIf="createPropertyForm.controls.type.errors?.['required']">
                        {{'PropertiesManagementScreen.PropertyType' | translate}}
                        {{'GeneralMessages.Required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <label for="propertyName" class="mb-1 d-flex">{{'PropertiesManagementScreen.PropertyName' |
                    translate}}
                </label>

                <input type="text" name="propertyName" class="form-control" formControlName="name">

                <div *ngIf="createPropertyForm.controls.name.invalid && (createPropertyForm.controls.name.dirty || createPropertyForm.controls.name.touched)"
                    class="alert p-0 m-1 h6">

                    <div class="p-0 m-0" *ngIf="createPropertyForm.controls.name.errors?.['required']">
                        {{'PropertiesManagementScreen.PropertyName' | translate}}
                        {{'GeneralMessages.Required' | translate}}
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 d-flex mt-2">

                <input class="form-check-input mx-2" type="checkbox" value="" id="flexCheckIndeterminate01"
                    formControlName="required">
                <label class="form-check-label" for="flexCheckIndeterminate01">
                    {{'PropertiesManagementScreen.PropertyRequired' | translate}}
                </label>
            </div>

        </form>

        <div class="container">
            <div class="row d-flex justify-content-end">
                <div class="col-md-6 col-lg-6 col-xl-6">

                    <div class="btn" (click)="onCreateButtonClick()">
                        <app-loading-button [processing]="isProcessing">
                            {{'Modal.CreateButton' | translate}}
                        </app-loading-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-page-header [pageTitle]="secondPageTitle"></app-page-header>

    <app-loading *ngIf="isLoading"></app-loading>

    <div class="container list warehouses mb-4" *ngIf="!isLoading">
        <div class="row g-2 mb-2" *ngIf="properties.length > 0">
            <div class="item-card col-md-12 col-lg-12 col-xl-12 d-flex justify-content-between rounded-4 border px-4 py-3 mb-3"
                *ngFor="let property of properties">

                <div>
                    {{property.name}}
                </div>

                <div class="d-flex">
                    <div class="mx-2 edit d-flex justify-content-center align-items-center rounded-2 "
                        data-bs-toggle="modal" data-bs-target="#editModal" (click)="onUpdateButtonClick(property.id)"
                        *ngIf="hasUpdatingAuthority"><i class="fa-solid fa-pen-to-square"></i></div>

                    <div class="mx-2 delete d-flex justify-content-center align-items-center rounded-2"
                        data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onDeleteButtonClick(property.id)"
                        *ngIf="hasDeletingAuthority"><i class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>
        </div>

        <app-no-data *ngIf="properties.length == 0"></app-no-data>

    </div>

</div>

<!-- modals -->

<!-- edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <div>
                    <h5 class="modal-title" id="editWarehouseModalLabel">{{'Modal.EditModalHeader' | translate}}</h5>
                </div>

                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body mt-2">
                <form class="row mb-2" [formGroup]="updatePropertyForm">
                    <div class="col-md-12 col-lg-12 col-xl-12 mb-2">
                        <label for="propertyType01" class="mb-1 d-flex">{{'PropertiesManagementScreen.PropertyType' |
                            translate}}
                        </label>
                        <select name="propertyType" id="propertyType" class="form-select " formControlName="type">
                            <option *ngFor="let property of propetyTypes" [value]="property.value"> {{property.name |
                                translate}}</option>
                        </select>

                        <div *ngIf="updatePropertyForm.controls.type.invalid && (updatePropertyForm.controls.type.dirty || updatePropertyForm.controls.type.touched)"
                            class="alert p-0 m-1 h6">

                            <div class="p-0 m-0" *ngIf="updatePropertyForm.controls.type.errors?.['required']">
                                {{'PropertiesManagementScreen.PropertyType' | translate}}
                                {{'GeneralMessages.Required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12 mb-2">
                        <label for="propertyName" class="mb-1 d-flex">{{'PropertiesManagementScreen.PropertyName' |
                            translate}}
                        </label>

                        <input type="text" name="propertyName" class="form-control" formControlName="name">

                        <div *ngIf="updatePropertyForm.controls.name.invalid && (updatePropertyForm.controls.name.dirty || updatePropertyForm.controls.name.touched)"
                            class="alert p-0 m-1 h6">

                            <div class="p-0 m-0" *ngIf="updatePropertyForm.controls.name.errors?.['required']">
                                {{'PropertiesManagementScreen.PropertyName' | translate}}
                                {{'GeneralMessages.Required' | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-xl-12 d-flex">

                        <input class="form-check-input mx-2" type="checkbox" value="" id="flexCheckIndeterminate02"
                            formControlName="required">
                        <label class="form-check-label" for="flexCheckIndeterminate02">
                            {{'PropertiesManagementScreen.PropertyRequired' | translate}}
                        </label>
                    </div>

                </form>
            </div>
            <div class="modal-footer mb-4 border-0">
                <button class="d-none" #updateModalCloseButtonRef data-bs-dismiss="modal"></button>
                <button type="button" class="btn  modal-btn m-0 py-2"
                    (click)="onUpdateConfirmationClick()">{{'Modal.SaveChangesButton' | translate}}</button>
            </div>
        </div>
    </div>
</div>


<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-2 deletion-label d-flex justify-content-center">
                        <i class="fa-solid fa-trash-can px-2 py-3"></i>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <p class="h5 fw-bold">{{'Modal.DeletionConsentMessage' | translate}}
                        {{'PropertiesManagementScreen.EntityName' | translate}} {{selectedProperty.name}}</p>
                </div>

            </div>

            <div class="mt-4 mb-5 d-flex align-items-center justify-content-center">
                <div class="row m-0 d-flex justify-content-between w-75 align-items-center">
                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-primary modal-btn py-2" data-bs-dismiss="modal"
                            (click)="onDeleteConfirmationButtonClick()">{{'Modal.DeleteButton' | translate}}</button>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-secondary modal-cancel-btn py-2"
                            data-bs-dismiss="modal">{{'Modal.CancelButton' | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>