<div class="container-fluid">
    <app-page-header [pageTitle]="firstPageTitle" [coloredPageTitle]="coloredPageTitle"></app-page-header>

    <div class="container ">
        <div class=" row mb-2 ">
            <div class="col-md-12 col-lg-12 col-xl-12">

                <label for="warehouseName" class="mb-1 d-flex justify-content-end">اسم المستودع</label>
                <input id="warehouseName" class="form-control" type="text">
            </div>
        </div>

        <div class=" row mb-2 d-flex flex-row-reverse">
            <div class="col-md-6 col-lg-6 col-xl-6">

                <label for="userName" class="mb-1 d-flex justify-content-end">اسم المستخدم</label>
                <input id="userName" class="form-control" type="text">
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">

                <label for="password" class="mb-1 d-flex justify-content-end">كلمه السر</label>
                <input id="password" class="form-control" type="text">
            </div>

        </div>


        <div class=" row mb-2 d-flex flex-row-reverse">

            <div class="col-md-6 col-lg-6 col-xl-6">

                <label for="package" class="mb-1 d-flex justify-content-end">الباقات</label>

                <select id="package" class="form-select" name="" id="">
                    <option value="">Select</option>
                </select>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">

                <div class="btn">
                    <app-loading-button [processing]="isProcessing">
                        انشاء
                    </app-loading-button>
                </div>
            </div>
        </div>
    </div>

    <app-page-header [pageTitle]="secondPageTitle"></app-page-header>

    <div class="container warehouses">
        <div class="row g-2 mb-2">
            <div class="warehouse-card col-md-12 col-lg-12 col-xl-12 d-flex justify-content-between rounded-4 border px-4 py-3 mb-3"
                *ngFor="let warehouse of warehouses">

                <div class="d-flex">

                    <div class="mx-2 delete d-flex justify-content-center align-items-center"><i
                            class="fa-solid fa-trash-can"></i></div>

                    <div class="mx-2 edit d-flex justify-content-center align-items-center"><i
                            class="fa-solid fa-pen-to-square"></i></div>
                    <div class="mx-2 view d-flex justify-content-center align-items-center"><i
                            class="fa-solid fa-eye"></i></div>

                </div>

                <div>
                    {{warehouse}}
                </div>

            </div>
        </div>
    </div>

</div>