.card {
    background-color: #F6F6FB;
    border: none;
    width: 250px;
    height: 190px;
}

.wrapper {
    height: 90%;
}

.card .img-container {
    width: 2.5rem;
}

.card img {
    width: 1.2rem;
}

.card-title {
    color: #2B2F42;
    font-size: 1.1rem;
} 


