<div class="container-fluid">

    <div class="container ">
        <form action="" [formGroup]="createRefrigeratorForm">

            <div class=" row mb-1 ">
                <div class="col-md-6 col-lg-6 col-xl-6">

                    <label for="refrigeratorName01"
                        class="mb-1 d-flex">{{'RefrigeratorsManagementScreen.RefrigeratorName' |
                        translate}} </label>
                    <input id="refrigeratorName01" class="form-control" type="text" formControlName="refrigeratorName">

                    <div *ngIf="createRefrigeratorForm.controls.refrigeratorName.invalid && (createRefrigeratorForm.controls.refrigeratorName.dirty || createRefrigeratorForm.controls.refrigeratorName.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0"
                            *ngIf="createRefrigeratorForm.controls.refrigeratorName.errors?.['required']">
                            {{'RefrigeratorsManagementScreen.RefrigeratorName' | translate}}
                            {{'GeneralMessages.Required' | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3">

                    <label for="refrigeratorFromTemp01"
                        class="mb-1 d-flex col-12">{{'RefrigeratorsManagementScreen.Temperature' |
                        translate}} </label>

                    <div class="form-text">
                        <label class="static-value-firstside">{{isRtl? ('RefrigeratorsManagementScreen.From' |
                            translate) : 'C°'}}</label>

                        <input type="text " class="form-control custom-input"
                            aria-label="Amount (to the nearest dollar)" formControlName="fromTemperature">

                        <label class="static-value-secondside">{{isRtl? 'C°' : ('RefrigeratorsManagementScreen.From' |
                            translate)}} </label>
                    </div>

                    <div *ngIf="createRefrigeratorForm.controls.fromTemperature.invalid && (createRefrigeratorForm.controls.fromTemperature.dirty || createRefrigeratorForm.controls.fromTemperature.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0"
                            *ngIf="createRefrigeratorForm.controls.fromTemperature.errors?.['required']">
                            {{'RefrigeratorsManagementScreen.Temperature' | translate}}
                            {{'GeneralMessages.FeminineRequired' | translate}}
                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-lg-3 col-xl-3">

                    <label for="refrigeratorFromTemp01"
                        class="mb-1 d-flex col-12">{{'RefrigeratorsManagementScreen.Temperature' |
                        translate}} </label>

                    <div class="form-text">
                        <label class="static-value-firstside">{{isRtl? ('RefrigeratorsManagementScreen.To' | translate)
                            : 'C°'}}</label>

                        <input type="text" class="form-control custom-input" aria-label="Amount (to the nearest dollar)"
                            formControlName="toTemperature">

                        <label class="static-value-secondside">{{isRtl? 'C°' : ('RefrigeratorsManagementScreen.To' |
                            translate)}} </label>
                    </div>

                    <div *ngIf="createRefrigeratorForm.controls.toTemperature.invalid && (createRefrigeratorForm.controls.toTemperature.dirty || createRefrigeratorForm.controls.toTemperature.touched)"
                        class="alert p-0 m-1 h6">

                        <div class="p-0 m-0" *ngIf="createRefrigeratorForm.controls.toTemperature.errors?.['required']">
                            {{'RefrigeratorsManagementScreen.Temperature' | translate}}
                            {{'GeneralMessages.FeminineRequired' | translate}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mb-2 d-flex justify-content-end">
                <div class="col-md-6 col-lg-6 col-xl-6">

                    <div class="btn" (click)="onCreateButtonClick()">
                        <app-loading-button [processing]="isProcessing">
                            {{'Modal.CreateButton' | translate}}
                        </app-loading-button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <app-page-header [pageTitle]="secondPageTitle"></app-page-header>

    <app-loading *ngIf="isLoading"></app-loading>

    <div class="container list refrigerators" *ngIf="!isLoading">
        <div class="row g-2 mb-2" *ngIf="refrigerators.length > 0">
            <div class="item-card col-md-12 col-lg-12 col-xl-12 d-flex justify-content-between rounded-4 border px-4 py-3 mb-3"
                *ngFor="let refrigerator of refrigerators">

                <div>
                    {{refrigerator.name}}
                </div>

                <div class="d-flex">
                    <div class="mx-4 d-flex justify-content-center align-items-center ">20°</div>
                    <div class="mx-2 edit d-flex justify-content-center align-items-center rounded-2"
                        data-bs-toggle="modal" data-bs-target="#editModal"
                        (click)="onUpdateButtonClick(refrigerator.id)"><i class="fa-solid fa-pen-to-square"></i></div>
                    <div class="mx-2 delete d-flex justify-content-center align-items-center rounded-2"
                        data-bs-toggle="modal" data-bs-target="#deleteModal"
                        (click)="onDeleteButtonClick(refrigerator.id)"><i class="fa-solid fa-trash-can"></i></div>

                </div>

            </div>
        </div>

        <app-no-data *ngIf="refrigerators.length == 0"></app-no-data>

    </div>

</div>


<!-- modals -->

<!-- edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex  justify-content-between">
                <div>
                    <h5 class="modal-title" id="editModalLabel">{{'Modal.EditModalHeader' | translate}} </h5>
                </div>

                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body mt-2">
                <form action="" [formGroup]="updateRefrigeratorForm">

                    <div class=" row mb-1 ">
                        <div class="col-md-12 col-lg-12 col-xl-12 mb-2">

                            <label for="refrigeratorName02"
                                class="mb-1 d-flex">{{'RefrigeratorsManagementScreen.RefrigeratorName' |
                                translate}} </label>
                            <input id="refrigeratorName02" class="form-control" type="text"
                                formControlName="refrigeratorName">

                            <div *ngIf="updateRefrigeratorForm.controls.refrigeratorName.invalid && (updateRefrigeratorForm.controls.refrigeratorName.dirty || updateRefrigeratorForm.controls.refrigeratorName.touched)"
                                class="alert p-0 m-1 h6">

                                <div class="p-0 m-0"
                                    *ngIf="updateRefrigeratorForm.controls.refrigeratorName.errors?.['required']">
                                    {{'RefrigeratorsManagementScreen.RefrigeratorName' | translate}}
                                    {{'GeneralMessages.Required' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12">

                            <label for="refrigeratorFromTemp02"
                                class="mb-1 d-flex col-12">{{'RefrigeratorsManagementScreen.Temperature' |
                                translate}} </label>

                            <div class="form-text">
                                <label class="static-value-firstside">{{isRtl? ('RefrigeratorsManagementScreen.From' |
                                    translate) : 'C°'}}</label>

                                <input type="text " class="form-control custom-input" formControlName="fromTemperature">

                                <label class="static-value-secondside">{{isRtl? 'C°' :
                                    ('RefrigeratorsManagementScreen.From' |
                                    translate)}} </label>
                            </div>


                            <div *ngIf="updateRefrigeratorForm.controls.fromTemperature.invalid && (updateRefrigeratorForm.controls.fromTemperature.dirty || updateRefrigeratorForm.controls.fromTemperature.touched)"
                                class="alert p-0 m-1 h6">

                                <div class="p-0 m-0"
                                    *ngIf="updateRefrigeratorForm.controls.fromTemperature.errors?.['required']">
                                    {{'RefrigeratorsManagementScreen.Temperature' | translate}}
                                    {{'GeneralMessages.FeminineRequired' | translate}}
                                </div>
                            </div>

                        </div>


                        <div class="col-md-12 col-lg-12 col-xl-12">

                            <label for="refrigeratorToTemp02"
                                class="mb-1 d-flex col-12">{{'RefrigeratorsManagementScreen.Temperature' |
                                translate}} </label>

                            <div class="form-text">
                                <label class="static-value-firstside">{{isRtl? ('RefrigeratorsManagementScreen.To' |
                                    translate) : 'C°'}}</label>

                                <input type="text" class="form-control custom-input" formControlName="toTemperature">

                                <label class="static-value-secondside">{{isRtl? 'C°' :
                                    ('RefrigeratorsManagementScreen.To' | translate)}} </label>
                            </div>

                            <div *ngIf="updateRefrigeratorForm.controls.toTemperature.invalid && (updateRefrigeratorForm.controls.toTemperature.dirty || updateRefrigeratorForm.controls.toTemperature.touched)"
                                class="alert p-0 m-1 h6">

                                <div class="p-0 m-0"
                                    *ngIf="updateRefrigeratorForm.controls.toTemperature.errors?.['required']">
                                    {{'RefrigeratorsManagementScreen.Temperature' | translate}}
                                    {{'GeneralMessages.FeminineRequired' | translate}}
                                </div>
                            </div>

                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer mb-4 border-0">
                <button class="d-none" #updateModalCloseButtonRef data-bs-dismiss="modal"></button>
                <button type="button" class="btn  modal-btn m-0 py-2" (click)="onUpdateConfirmationClick()">
                    {{'Modal.SaveChangesButton' | translate}}</button>
            </div>
        </div>
    </div>
</div>


<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-2 deletion-label d-flex justify-content-center">
                        <i class="fa-solid fa-trash-can px-2 py-3"></i>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <p class="h5 fw-bold">{{'Modal.DeletionConsentMessage' | translate}}
                        {{'RefrigeratorsManagementScreen.EntityName' |
                        translate}} {{selectedRefrigerator.name}}</p>
                </div>

            </div>

            <div class="mt-4 mb-5 d-flex align-items-center justify-content-center">
                <div class="row m-0 d-flex  justify-content-between w-75 align-items-center">
                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-primary modal-btn py-2" data-bs-dismiss="modal"
                            (click)="onDeleteConfirmationButtonClick()">{{'Modal.DeleteButton' | translate}}</button>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-secondary modal-cancel-btn py-2"
                            data-bs-dismiss="modal">{{'Modal.CancelButton' | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>