.pageTitle {
    background-color: #F6F6FB;
    color: #100F37;
    font-weight: 700;
}

.colored-text {
    color: #F15A60;
}

a {
    text-decoration: none;
    display: inline-block;
}

.active {
    color: #F15A60;
}

.no-color {
    color: #100F37;
}