<div class="container-fluid">
    <app-page-header [pageTitle]="firstPageTitle" [coloredPageTitle]="coloredPageTitle"></app-page-header>

    <app-loading *ngIf="isLoadingRoles"></app-loading>

    <div class="container list roles" *ngIf="!isLoadingRoles">
        <div class="row g-2 mb-2">
            <div class="item-card col-md-12 col-lg-12 col-xl-12 d-flex justify-content-between rounded-4 border px-4 py-3 mb-3"
                *ngFor="let role of roles">

                <div>
                    {{role.name}}
                </div>

                <div class="d-flex">

                    <div class="mx-2 delete d-flex justify-content-center align-items-center" data-bs-toggle="modal"
                        data-bs-target="#deleteRoleModal" (click)="onDeleteButtonClick(role.id)"><i
                            class="fa-solid fa-trash-can"></i></div>

                </div>



            </div>
        </div>
    </div>

</div>


<!-- modals -->

<!-- delete warehouse modal -->
<div class="modal fade" id="deleteRoleModal" tabindex="-1" aria-labelledby="deleteRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-2 deletion-label d-flex justify-content-center">
                        <i class="fa-solid fa-trash-can px-2 py-3"></i>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <p class="h5 fw-bold">{{'Modal.DeletionConsentMessage' | translate}}
                        {{'RolesManagementScreen.EntityName' | translate}} {{selectedRole?.name}}</p>
                </div>

            </div>

            <div class="mt-4 mb-5 d-flex align-items-center justify-content-center">
                <div class="row m-0 d-flex  justify-content-between  w-75 align-items-center">
                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-primary modal-btn  py-2" data-bs-dismiss="modal"
                            (click)="onDeleteConfirmationButtonClick()">{{'Modal.DeleteButton' | translate}}</button>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-6 mb-2">
                        <button type="button" class="btn-secondary modal-cancel-btn py-2"
                            data-bs-dismiss="modal">{{'Modal.CancelButton' | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>