.card {
    background-color: #F6F6FB;
    border: none;
    width: 250px;
    height: 190px;
    cursor: pointer;
}

.wrapper {
    height: 90%;
}

.card .img-container {
    width: 2.5rem;
}

.card img {
    width: 1.7rem;
}

.card-title {
    color: #ffffff;
    font-size: 1.1rem;
} 

.card:hover {
    opacity: 0.9;
}

.logs-wrapper {
    max-height: 50vh;
}

.logs {
    background-color: #F6F6FB;
    height: 240px;
    overflow: hidden;
}

.logs-wrapper {
    cursor: pointer;
}

.no-data {
    margin-top: -2% !important;
}
