.card {
    background-color: #F6F6FB;
    border: none;
    width: 244px;
    height: 190px;
    color: white;
    cursor: pointer;
}

.card .icon {
    color: #F15A60;
    background-color: white;
    Width: 30px;
    Height: 30px;
}

.card:hover {
    opacity: 0.9;
}

.logs {
    background-color: #F6F6FB;
    height: 200px;
    overflow: auto;
}


@media (max-width: 819px) {
    /* Styles for screens less than 820 pixels wide */
    /* Add your CSS rules here */
    .card:last-child {
        /* Styles for the last child element of .cards */
        /* Add your CSS rules here */
        display: none !important;
      }
  }