.card {
    background-color: #F6F6FB;
    border: none;
    width: 244px;
    height: 190px;
    color: white;
    cursor: pointer;
}

.card .icon {
    color: #F15A60;
    background-color: white;
    Width: 30px;
    Height: 30px;
}

.card:hover {
    opacity: 0.9;
}

.logs {
    background-color: #F6F6FB;
    height: 200px;
    overflow: auto;
}