<!-- nav-bar -->


<nav class="navbar navbar-light border-bottom d-flex ">

    <div class="container d-flex ">

        <div class="d-flex  justify-content-between">

            <div class="header-menu ms-3 d-flex align-items-center">
                <span (click)="toggleSideNav()" class="menu-icon material-icons"><i class="fa-solid fa-bars"></i></span>
            </div>

            <div class="avatar-small ms-2">
                <img class="avatar-img rounded-circle"
                    src="https://i.insider.com/5c007f32499ade0d21195b72?width=1100&format=jpeg&auto=webp" />
            </div>
            <div class="dropdown">
                <button class="btn  dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{userName}}
                </button>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li (click)="onLogoutClick()"><a class="dropdown-item active">{{'NavBar.Logout' | translate}}</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-around align-items-center lang-container ">
            <i class="fa-solid fa-globe"></i>
            <select name="" id="" (change)="changeLanguage($event)" class="form-select lang fw-bold">
                <option value="ar" [selected]="lang == 'ar'">عربي</option>
                <option value="en" [selected]="lang == 'en'">English</option>
            </select>
        </div>
    </div>
</nav>