.avatar-small-arabic {
  height: 35px;
  width: 35px;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.avatar-small-english {
  height: 35px;
  width: 35px;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #F15A60;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-align-right {
  text-align: right !important;
}


.dropdown-item:hover {
  background-color: #100F37;
  color: #ffffff;
}

.dropdown-item:active {
  background-color: #100F37;
  color: #ffffff;
}

.menu-icon {
  font-size: 1.4rem;

  cursor: pointer;
}

.dropdown-menu {
  top: 117% !important;
}

li {
  cursor: pointer;
}

.lang {
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.lang-container i {
  color: #F15A60;
  font-size: 1.2rem;
}