.avatar-small {
  height: 35px;
  width: 35px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.menu-icon {
  font-size: 1.4rem;

  cursor: pointer;
}

.dropdown-menu{
  top: 117% !important;
}

li {
  cursor: pointer;
}

.lang {
  border: none;
  box-shadow: none;
}

.lang-container i {
  color: #F15A60;
  font-size: 1.2rem;
  ;
}