.container-fluid {
    background-color: #100F37;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
}

button {
    background-color: #F15A60;
    border: none;
    width: 15rem;
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:active {
    background-color: #F15A60 !important;
    transform: scale(0.95); 
}

button:hover {
    background-color: #F15A60 !important;

}

button:focus {
    background-color: #F15A60 !important;
}