<div class="container-fluid">
    <app-page-header [pageTitle]="firstPageTitle" [coloredPageTitle]="coloredPageTitle"></app-page-header>

    <div class="container ">
        <div class="d-flex row">
            <div class="col-md-12 col-lg-6 col-xl-6 mb-4">
                <form [formGroup]="withdrawProductForm">
                    <div class="header d-flex flex-column align-items-start fw-bold mb-3">
                        <span class="block mb-2"> {{'ProductWihdrawalScreen.Message' | translate}}
                        </span>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <label for="number" class="mb-1 d-flex">{{'ProductWihdrawalScreen.ProductNumber' |
                                translate}}</label>
                            <input id="number" class="form-control" type="text" formControlName="number">
                        </div>
                    </div>

                    <div class=" row mb-2">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="btn secondary-action" (click)="onWihdrawButtonClick()">
                                <app-loading-button [processing]="isProcessing">
                                    {{'ProductWihdrawalScreen.WithdrawButton' | translate}}
                                </app-loading-button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class=" col-md-12 col-lg-6 col-xl-6 mt-2  ">
                <div class="products row border rounded-2 mx-2 ">
                    <div class="d-flex justify-content-center  pt-3">
                        <div class="w-75 ">
                            <table class="table table-borderless">
                                <thead>
                                    <tr class="text-center border-bottom">
                                        <th scope="col" colspan="2">{{'ProductWihdrawalScreen.ProductNumber' |
                                            translate}}</th>
                                        <th scope="col" colspan="2"> {{'ProductWihdrawalScreen.ProductName' |
                                            translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" *ngFor="let product of products">
                                        <td colspan="2">{{product.number}}</td>
                                        <td colspan="2">{{product.name}}</td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- action button -->
        <div class=" row mb-2 d-flex justify-content-center">

            <div class="col-md-6 col-lg-6 col-xl-6">

                <div class="btn" (click)="onSaveButtonClick()">
                    <app-loading-button [processing]="isProcessing">
                        {{'ProductWihdrawalScreen.SaveButton' | translate}}
                    </app-loading-button>
                </div>
            </div>
        </div>

    </div>

</div>