.btn {
    color: #ffffff;
    background-color: #F15A60;
    border-radius: 12px;
    width: 100%;
    margin-top: 1.65rem;
}

.btn:active {
    background-color: #F15A60;
    color: white;
}

.small-card {
    box-shadow: 0px 4px 4px 0px #F6F6FB;
    width: 200px;
    font-size: 0.7rem;
}

.permission-card {
    width: 32%;
}

.permissions .header {
    background-color: #100F37;
}

.content-wrapper {
    height: 200px;
    overflow: auto;
    font-size: 0.9rem;
}


/************ Bootstrap Checkboxes Color Edit ************/
.form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    color: #100F37 !important;
    background-color: #ffffff !important;
}

.header .form-check-input {
    border: 2px solid #ffffff;

}

.header .form-check-input:checked {
    border: 2px solid #ffffff;
    background-color: #100F37 !important;
    background-image: url('../../../../../assets/images/common/check-white.svg') !important;
    background-size: 0.9rem;
}

.content .form-check-input {
    border: solid 2px #100F37 !important;
}

.content .form-check-input:checked {
    border: 2px solid #100F37;
    color: #100F37;

    background-image: url('../../../../../assets/images/common/check.svg') !important;
    background-size: 0.9rem;
}



.content-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    border-radius: 5px;
    /* margin: -2px; */
}

.content-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

.content-wrapper::-webkit-scrollbar-thumb {
    background-color: #100F37;
    border-radius: 2px;
}