

<div [dir]="'dir' | translate">
    <app-side-nav [sidenavTemplateRef]="navContent" [navWidth]="250" [duration]="0.5"></app-side-nav>

    <app-sidenav [dir]="'dir' | translate" (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    <ng-template #navContent>
        <div class="container-fluid d-flex flex-column p-0">
            <div class="menu-items mb-2">
                <button type="button" class="btn d-flex flex-row align-items-center" [routerLink]="['/dashboard']"> <i
                        class="fa-solid fa-chart-line mx-1"></i>{{'SideNav.Home' | translate}}</button>
            </div>

            <div class="menu-items mb-2">
                <button type="button" class="btn d-flex flex-row align-items-center" [routerLink]="['/warehouses']"> <i
                        class="fa-solid fa-warehouse mx-1"></i>{{'SideNav.Warehouses' | translate}}</button>
            </div>

            <div class="menu-items mb-2">
                <button type="button" class="btn d-flex flex-row align-items-center" [routerLink]="['/packages']"> <i
                        class="fa-solid fa-circle-dollar-to-slot mx-1"></i>{{'SideNav.Packages' | translate}}</button>
            </div>

        </div>
    </ng-template>

    

    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
</div>