.sidenav {
    background: #100F37;
    transition: all .5s ease;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 5rem;

    height: 100vh;

    .logo-container {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        /* padding: 0.938rem 0.938rem 0 0.938rem; */
        width: 100%;


        .logo {
            /* background: #fff; */
            background-color: #100F37;
            color: #ffffff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.5rem;
            padding: 0.2rem 0.1rem 0.2rem 0.2rem;
            font-size: 18px;
            font-weight: 900;
            cursor: pointer;
            border: none;
            position: absolute;
            top: 12px ;
        }

        .logo-text {
            /* margin-left: 1.5rem; */
            /* font-size: 24px; */
            /* font-weight: 700; */
            color: #fff;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-x {
                color: #fff;
                font-size: 24px;
            }
        }
    }


}

.sidenav-collapsed {
    width: 14rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;



        .sidenav-nav-link {
            display: flex;
            align-items: center;
            /* justify-content: center; */
            height: 2.5rem;
            color: #fff;
            text-decoration: none;
        /* min-width: 20rem; */


            /* border-radius: 0.625rem; */
            transition: all .3s ease;
            /* border-right: 4px solid transparent; */




            .sidenav-link-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 0.9rem;
                font-size: 0.95rem;
            }
        }

        .sidenav-nav-link:hover {
            /* background-color: #fff; */
            /* color: #000; */

            .menu-collapse-icon {
                color: #000;
            }
        }
    }
}

.sidenav-nav-item:hover {
    .sidenav-nav-link {
        background-color: #F3F6F92B;
        /* color: #100F37; */
    }

}

.active {
    background-color: #F3F6F92B;

    /* .sidenav-link-icon,
    .sidenav-link-text,
    .sidenav-link-icon,
    .menu-collapse-icon {
        color: #100F37;
    } */
}

.active-sublevel {
    /* background-color: #F3F6F92B; */
    opacity: 1 !important;
}

.menu-collapse-item {
    font-size: 12px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: start;
    color: #f3f3f3;
}

.sublevel-nav {
    list-style: none;
    /* margin-left: 10px; */
    padding: 0;

    .sublevel-nav-item {
        .sublevel-nav-link {
            display: flex;
            align-items: center;
            /* justify-content: center; */
            height: 2.5rem;
            color: #fff;
            text-decoration: none;
            font-size: 0.7rem;
            padding:0 1rem;
            opacity: 0.6;
        /* min-width: 18rem; */


            /* border-radius: 0.625rem; */
            transition: all .3s ease;

            .sublevel-link-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sublevel-link-text {
                /* margin-left: 0.9rem; */
                font-size: 0.8rem;
            }
        }

        .sublevel-nav-link:hover {
            /* background-color: #F3F6F92B; */
            opacity: 1;

            .active {
                background-color: none !important;
            }
        }
    }
}

img {
    width: 75px;
}


.sidenav-nav-link-padding-right {
    padding-right: 1rem;
    padding-left: 0rem;
}

.sidenav-nav-link-padding-left {
    padding-right: 0rem;
    padding-left: 1rem;
}


/* tooltips */
.tooltiptext {
    visibility: hidden;
    background-color: #F15A60;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 0.9rem;
    /* width: 12rem; */
    min-width: 9rem;
    font-size: 0.8rem;
    /* Position the tooltip */
    position: relative;
    z-index: 1;
    left: 20px;
    right: 20px;
}

.sidenav-nav-item:hover:not(:has(.sublevel-nav-item:hover)) .tooltiptext {
    visibility: visible;
    /* transition: all .3s ease; */
}
.sublevel-nav-item:hover .tooltiptext {
    visibility: visible;
    /* transition: all .3s ease; */
}

.absolute-right-position {
    right: 94%;
}
.absolute-left-position {
    left: 94%;
}