/************ Fonts ************/

@font-face {
    font-family: AppFont;
    src: url("../src/assets/fonts/Almarai-Regular.ttf") format("opentype");
}

* {
    font-family: AppFont;
}

/************ Modals ************/

.modal-btn {
    border: 0;
    background-color: #F15A60;
    border-radius: 12px;
    color: white;
    border: none;
    width: 100%;
}

.modal-cancel-btn {
    border: 0;
    border-radius: 12px;
    color: #100F37;
    border: 0.5px solid #100F37;
    width: 100%;
}

.modal .deletion-label{
    background-color: #F15A6021;
}

.modal .deletion-label i {
    font-size: 2.5rem;
    color: #F15A60;
}

.modal-dialog {
    color: #100F37;
}

.modal-footer {
    border: none;
    margin-top: 0;
}

/************ Errors ************/

/* input.ng-touched.ng-invalid {
    border: 0.1px solid red;
} */

/************ Bootstrap Shadows Removal ************/

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input.form-select:focus
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus,
[type=select].form-select:focus,  
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border-color: #DEE2E6;
}

/************ Bootstrap Checkboxes Color Edit ************/
.form-check-input:checked {
    background-color: #F15A60;
    border-color: #F15A60;
}

input[type=checkbox]:checked {
    background-color: #F15A60;
    border-color: #F15A60;
}

/************ Management Screens Global Styling ************/
.item-card {
    height: 60px;
    box-shadow: 0px 4px 4px 0px #F6F6FB;
}

.list {
    overflow: auto;
}

/************ Action Buttons ************/
.delete {
    cursor: pointer;
    width: 25px;
    color: #F15A60;
    background-color: #F15A6021;
}

.edit {
    cursor: pointer;
    width: 25px;
    color: #FFCD29;
    background-color: #FFCD2930;
}

.view {
    cursor: pointer;
    width: 25px;
    color: #100F37;
    background-color: #100F3717;
}

.code {
    cursor: pointer;
    width: 25px;
    color: #757575;
    background-color: #75757530;
}

.upload {
    cursor: pointer;
    width: 25px;
    color: #14AE5C;
    background-color: #4ECB7130;
}
